html {
    scroll-behavior: smooth;
}

.dynamic-text {
    font-size: calc(0.3em + 1.3vw) !important;
}

.input-field input:focus + label {
    color: #1e88e5 !important;
}
.input-field input:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
.input-field input.valid {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
.input-field input.invalid {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
.input-field textarea:focus + label {
    color: #1e88e5 !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
.input-field textarea.valid {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
.input-field textarea.invalid {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
.input-field .prefix.active {
    color: #1e88e5 !important;
}
